.container {
    padding: 20px 0;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: beige;
    max-height: 400px;
}

.image-container {
    overflow: hidden;
    margin: 0 auto;

    height: 200px;
    width: 200px;
}

.cardImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in;
}

/* .image-container:hover .cardImg {
    transform: scale(1.5);
} */

h3 {
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
}

.cardFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    font-size: 18px;
    margin-top: 30px;
}